ol(class="ab-nab breadcrumb")
    li(ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path", ng-class="{ active: $last }")
        a(ng-if="!$last && breadcrumb.label != 'chart' && breadcrumb.label != 'month'", ng-href="\#{{ breadcrumb.path }}", ng-bind="breadcrumb.label", class="margin-right-xs")
        a(ng-if="!$last && breadcrumb.label == 'chart'", ng-href="\#{{ breadcrumb.path }}", class="margin-right-xs") {{chart}} / {{ dateParams.year }}
        a(ng-if="!$last && breadcrumb.label == 'month'", ng-href="\#{{ breadcrumb.path }}", class="margin-right-xs") {{month | monthify }}
        a(ng-if="!$last && breadcrumb.label == 'year'", ng-href="\#{{ breadcrumb.path }}", class="margin-right-xs") {{year}}
        span(ng-if="$last && breadcrumb.label == 'chart'") {{chart }} / {{ dateParams.year }}
        span(ng-if="$last && breadcrumb.label == 'month'") {{ dateParams.month | monthify }}
        span(ng-if="$last && breadcrumb.label == 'year'") {{year}}
        span(ng-if="$last && breadcrumb.label != 'chart' && breadcrumb.label != 'month'",ng-bind="breadcrumb.label")
nav(class="navbar navbar-default",role="navigation")
    div(class="navbar-header")
        a(class="navbar-brand") Velg år
    form(role="search", class="navbar-form navbar-left")
        div(class="form-group")
            select(id="dropdown-year", class="input-sm form-control", ng-model="dateParams.year", ng-options="year for year in dateParams.years")
    div(class="navbar-header", ng-if="dateParams.month")
        a(class="navbar-brand") Velg måned
    form(role="search", class="navbar-form navbar-left", ng-if="dateParams.month")
        div(class="form-group")
            select(id="dropdown-month", class="input-sm form-control", ng-model="dateParams.month", ng-options="months.indexOf(month)+1 as month for month in months")
div(class="row")
    div(class="span9")
        h6(class="widget-title")
            highchart(id="chart1", config="chartConfig")
div(class="row", ng-if="entries")
    div(class="container")
        h4(class="widget-title") Bugzilla entries
        table(class="table table-striped")
            thead
                tr
                    th(class="col-sm-1") Dato
                    th(class="col-sm-1") #Bug
                    th(class="col-sm-1") Timer
                    th(class="col-sm-9") Bruker
            tbody
                tr(ng-repeat="bugs in entries | orderBy:'-date'",ng-animate="{enter: 'repeat-enter', leave: 'repeat-leave'}")
                    td {{ bugs.dato }}
                    th
                        a(href="{{bugs.url}}") {{ bugs.bug }}
                    td {{ bugs.timer }}
                    td {{ bugs.bruker }}
