div(class="container")
    div(class="row")
        div(class="span9")
            h5 GitOpen 2013
    div(class="row")
        div(class="span9")
            h6(class="widget-title") Showing commits for {{ commits[0].committer.name }}
            table(class="table table-striped")
                thead
                    tr
                        th SHA1
                        th Date
                        th Message
                        th Score
                tbody
                    tr(ng-repeat="commit in commits | orderBy:'-date'")
                        td {{commit.hash | truncate:20}}
                        td {{commit.date | date:'MM.dd HH:mm'}}
                        td p(ng-bind-html-unsafe="{{commit.message | bugzilla}}")
                        td {{commit.score}}
     div(class="row")
         div(class="span9")
            a(href="#") BACK