div(class="alert alert-block alert-{{flash.get().type}}",ng-show="flash.get().body")
    h4 {{flash.get().title}}
    p {{flash.get().body}}
div(class="container")
    div(class="row")
        div(class="span9")
            h1(class="widget-title") Leaderboard
            table(class="table table-striped")
                thead
                    tr
                        th Email
                        th Score
                tbody
                    tr(ng-repeat="contestant in contestants | orderBy:'-score'")
                        td
                           a(href="/commit/{{contestant._id}}") {{contestant.name}}
                        td {{contestant.score}}