header(role="heading")
  h1(class="widget-title")
    div(class="ldr-list-wrapper", role="structure")
      div(class="ldr-list table table-hover", role="grid")
        div(class="thead", role="rowheader")
          div(class="tr", role="row")
            div(class="th pic")
              div(class="th name")
                div(class="clip-text")Contestant
            div(class="th score")
              div(class="clip-text")Score
        div(class="tbody", role="rowgroup")
          div(class="tr", data-ng-repeat="contestant in contestants | orderBy:'-score'", data-contestant="contestant", role="row", ng-cloak)
            div(class="td pic", role="gridcell")
              figure(class="thumbnail")
            div(class="td name", role="gridcell", title='{{contestant.display_name')
              div(class="clip-text") {{contestant.display_name}}
            div(class="td score", role="gridcell", title='{{contestant.score}}')
              div(class="clip-text") {{contestant.score}}