!!!
html(ng-app="gitopen")
  head
    meta(charset='utf8')
    base(href='/')
    title GitOpen 2013
    link(rel='stylesheet', href='/css/app.css')
    link(href='/css/app.css', rel='stylesheet')
    link(href='/components/bootstrap/less/bootstrap.css', rel='stylesheet')
    script(src="/socket.io/socket.io.js")
  body
    block body
