doctype html
html(ng-app="gitopen")
    head
        meta(charset='utf8')
        base(href='/')
        title GitOpen 2013
        link(rel='stylesheet', href='/css/app.css')
        link(href='/components/toastr/toastr.css', rel="stylesheet")
        script(src='components/jquery/dist/jquery.js')
        link(href='/components/bootstrap/less/bootstrap.css', rel='stylesheet')
        script(src="/socket.io/socket.io.js")
        link(href='/css/app.css', rel='stylesheet')
    body
        block body
